<form action="/new" method="POST">
  <label for="message"></label>
  <input type="text" id="message" name="text" placeholder="Say something..." />
  <input type="hidden" name="user" value="newUser" />
</form>
